@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>PRMS - Project Resource Mapping System</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <link href="img/favicon.ico" rel="icon">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />
    <link href="~/custom-css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/custom-css/style.css" rel="stylesheet" />
    <style>
        .brand-logo {
            height: 50px;
        }
        /*Loader*/
        .spinner-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .spinner-border {
            color: white;
            max-height: 20vh;
            max-width: 20vh;
            min-height: 50px;
            min-width: 50px;
            aspect-ratio: 1/1;
        }

    </style>
</head>

<body>
    <div class="container-fluid position-relative bg-white d-flex p-0 m-0">

        @* sidebar *@
        <div class="sidebar pe-4 pb-3 active">
            <nav class="navbar bg-light navbar-light">
                <a class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary">
                        <img class="brand-logo" src="~/assets/images/prms-logo.png" />
                        PRMS
                    </h3>
                </a>
                <div class="navbar-nav w-100 ">
                    <a class="nav-item nav-link" asp-controller="Home" asp-action="Dashboard" id="Dashboard"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <a class="nav-item nav-link" asp-controller="Home" asp-action="Projects" id="Projects"><i class="fa fa-th me-2"></i>Projects</a>
                    <a class="nav-item nav-link" asp-controller="Home" asp-action="Employees" id="Employees"><i class="fa fa-keyboard me-2"></i>Employees</a>
                    <a class="nav-item nav-link" asp-controller="Home" asp-action="ProjectEmployeeMapping" id="ProjectEmployeeMapping"><i class="fa fa-table me-2"></i>Mapping</a>
                    <a class="nav-item nav-link" asp-controller="Home" asp-action="Departments" id="Departments"><i class="fa fa-chart-bar me-2"></i>Departments</a>
                    <a class="nav-item nav-link" asp-controller="Home" asp-action="Skills" id="Skills"><i class="fa fa-chart-bar me-2"></i>Skills</a>
                    <a class="nav-item nav-link" asp-controller="Home" asp-action="Actions" id="Actions"><i class="fa fa-chart-bar me-2"></i>Actions</a>
                </div>
            </nav>
        </div>

        @* top-navbar *@
        <div class="content">
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-1">
                <a class="sidebar-toggler flex-shrink-0" id="sidebar-toggler">
                    <i class="fa fa-bars"></i>
                </a>
                <div class="navbar-nav align-items-center ms-auto">
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                           @*  <span class="d-none d-lg-inline-flex">MR. DARSHAN BHALANI</span> *@
                            @{
                                var userId = HttpContextAccessor.HttpContext.Session.GetString("userName");
                            }

                            @if (!string.IsNullOrEmpty(userId))
                            {
                                <span class="d-none d-lg-inline-flex">@userId</span>
                            }
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                            <a class="dropdown-item" asp-controller="Account" asp-action="Profile" id="Profile"></i>Profile</a>
                            <a class="dropdown-item" id="logout">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>
            @* main-content *@
            <main role="main" class="container-fluid px-5 m-0 p-0" id="main-window">
                @RenderBody()
            </main>
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
            <div class="container-fluid pt-4 px-0">
                <div class="bg-light rounded-top p-4">
                    <div class="row">
                        <div class="col-12 col-sm-6 text-center text-sm-start">
                            &copy; <a href="#">Project Resource Mapping System</a>, All Right Reserved.
                        </div>
                        <div class="col-12 col-sm-6 text-center text-sm-end">
                            Managed By <a href="https://www.amnex.com/">Amnex Infotechnologies Pvt. Ltd.</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        

    </div>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
   
    @await RenderSectionAsync("Scripts", required: false)


    <script>
        $(document).ready(function () {
            // Website loader
            $('#loader').show();
            $(window).on('load', function () {
                $('#loader').hide();
            });
            $('#button').click(function () {
                $('#loader').show();
                $.ajax({
                    url: window.location.pathname.toString,
                    success: function (data) {
                        $('#loader').hide();
                    },
                    error: function () {
                        $('#loader').hide();
                    }
                });
            });

            // logout
            $("#logout").click(function (e) {
                $("#logoutModal").modal('show');
            });

            // loading spiner
            function loading() {
                var spinner = $("div#spinner");
                if (!spinnerVisible) {
                    spinner.fadeIn("fast");
                    spinnerVisible = true;
                } else {
                    spinner.stop().fadeOut("fast");
                    spinnerVisible = false;
                }
            };

            // snackbar
            function showSnackbar(status, message) {
                console.log("snackbar");
                if (status === "true") {
                    $('#snackbar').addClass('bg-success');
                } else {
                    $('#snackbar').addClass('bg-danger');
                }
                var snackbar = document.getElementById("snackbar");
                snackbar.textContent = message;
                snackbar.style.display = "block";
                setTimeout(function () { snackbar.style.display = "none"; }, 3000);
            }

            $('#logoutButton').click(function () {
                $("#logoutModal").modal('hide');
                $.ajax({
                    type:'POST',
                    url:'/Account/Logout',
                    success: function () {
                        location.reload();
                    },
                    error: function () {
                        alert("Unable to logout...");
                    }
                });
            });

        });
    </script>

</body>
</html>

@* logout-modal *@
<div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-small modal-dialog-centered">
        <div class="modal-content" style="border: none;">
            <div class="modal-header">
                <h5 class="modal-title" id="updateModalLabel">Logout</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to Logout?</p>
                <div class="d-flex justify-content-end">
                    <button type="button" class="btn btn-danger" id="logoutButton">Logout</button>
                </div>
            </div>
        </div>
    </div>
</div>

@* loading spiner *@
<div class="modal" style="background-color: rgba(0, 0, 0, 0.6);" id="spinner" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center">
        <div class="spinner-container">
            <img src="~/logos/logo3-light.png" class="position-absolute brand-logo d-inline-block align-text-top p-1 m-0">
            <div class="spinner-border" role="status">
                <span class="position-relative sr-only"></span>
            </div>
        </div>
    </div>
</div>


@* Website loader *@
<div class="modal" style="background-color: white;" id="loader" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered d-flex justify-content-center align-items-center flex-column">
        <div class="spinner-container">
            <img src="~/assets/images/prms-logo.png" class="position-absolute brand-logo d-inline-block align-text-top p-2 m-0">
            <div class="spinner-border" role="status" style="color:#0a3d62 !important;">
                <span class="position-relative sr-only"></span>
            </div>
        </div>
        <h6 class="pt-2" style="color:dimgray">Please wait...</h6>
    </div>
</div>


@* snackbar *@
<div id="snackbar" class="text-white text-center position-fixed bottom-0 start-50 translate-middle-x p-3 rounded-3" style="display: none;">
</div>