<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Amnex_Project_Resource_Mapping_System</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Amnex_Project_Resource_Mapping_System.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body::-webkit-scrollbar {
            display: none;
        }

        a {
            text-decoration: none;
            color: white !important;
        }

        li > a {
        }

        #main-window {
            height: 100vh;
        }

        .sidebar {
            height: 100vh;
        }

        .btn-section:hover {
            background-color: rebeccapurple;
        }

        .profileBox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
        }

        .main-container{
            height:100vh;
            width:100vw;
        }

        .hr-btn-section {
            margin:0 15px 0 15px;
        }

    </style>
</head>
<body>



    <div class="container-fluid main-container">
        <div class="row">
            <!-- Sidebar -->
            <div class="col-md-2 bg-dark text-white  m-0 p-0 d-flex flex-column justify-content-between text-align-center" id="slider">
                <div class="py-4">
                    <div class="profileBox">
                        <h1>PRMS</h1>
                    </div>
                    <hr/>  
                    <ul class="list-unstyled">
                        <li>
                            <div class="btn-section">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Dashboard" id="Dashboard"><i class="fa fa-tachometer"></i>&ensp; Dashboard</a>

                            </div>
                        </li>
                        <li>
                            <div class="btn-section">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Projects" id="Projects"><i class="fa fa-cube"></i>&ensp; Projects</a>
                            </div>
                        </li>
                        <li>
                            <div class="btn-section">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Employees" id="Employees"><i class="fa fa-folder"></i>&ensp; Employees</a>
                            </div>
                        </li>
                        <li>
                            <div class="btn-section">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ProjectEmployeeMapping" id="ProjectEmployeeMapping"><i class="fa fa-folder-open"></i>&ensp; ProjectEmployeeMapping</a>
                            </div>
                        </li>
                        <li>
                            <div class="btn-section">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Departments" id="Departments"><i class="fa fa-cog"></i>&ensp; Departments</a>
                            </div>
                        </li>
                        <li>
                            <div class="btn-section">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Skills" id="Skills"><i class="fa fa-list-alt"></i>&ensp; Skills</a>
                            </div>
                        </li>
                        <li>
                            <div class="btn-section">
                                <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Actions" id="Actions"><i class="fa fa-cog"></i>&ensp; Actions</a>
                            </div>
                        </li>
                    </ul>

                </div>
                @* <div class="pb-4">
                    <div class="btn-section">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Login"><i class="fa fa-sign-out"></i>  Log out</a>
                    </div>
                </div> *@
            </div>

            <!-- Main Content -->
            <div class="col p-0 m-0">
                <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark border-bottom box-shadow mb-3">
                    <div class="container-fluid">
                        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">@ViewData["Title"]</a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="" asp-controller="Account">MR. DARSHAN BHALANI&ensp; <i class="fa fa-user"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </nav>
                <main role="main" class="container-fluid p-3 m-0" id="main-window">
                    @RenderBody()
                </main>
            </div>

        </div>
    </div>


@* 
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Amnex_Project_Resource_Mapping_System</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

     </header>  *@



    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Amnex_Project_Resource_Mapping_System - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
