@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Amnex_Project_Resource_Mapping_System.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Your Website Title</title>
    <link rel="stylesheet" href="~/custom-css/Login.css" />
    <style>

        .container-fluid{
            height: 100vh;
            display:flex;
            justify-content:center;
            align-items:center;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="col-sm-10 col-xl-4 col-md-6">
            <div class="bg-light rounded h-100 p-4">
                <h3 class="text-center">Admin Login</h3>
                <p class="mb-4 text-center">We need to verify you before getting started!</p>
                <form id="login-form">
                    <div class="mb-3">
                        <label for="user-name" class="form-label">User Name</label>
                        <input type="text" class="form-control" id="user-name" />
                    </div>
                    <div class="mb-1">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" class="form-control" id="password">
                    </div>
                    <div class="text-end mb-3">Forgot Password ?</div>
                    <button type="submit" class="btn btn-primary px-5 text-center w-100 mt-3">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>