.main-container {
    height: 100vh;
    width: 100vw;
    background: url('../assets/images/bg.jpg');
    color: white;
    background-repeat: no-repeat;
    background-size: cover;
}

.login-modal {
    color: black !important;
}

.password-wrapper {
    position: relative;
}

.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    width: 20px;
    height: 20px;
}
