@model List<Log>;

<h3>Actions</h3>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr class="bg-dark">
            <th class="text-white">Recent Actions</th>
            <th class="text-white">Time</th>
        </tr>
    </thead>
    <tbody id="dataRows">
        @foreach (var x in Model)
        {

            @if (x.Action == "INSERT")
            {
                <tr>
                    <td>
                        <span>New</span>
                        <span>&nbsp;@(x.EntityType.Substring(0, x.EntityType.Length - 1))</span>
                        <b><span>&nbsp;@x.EntityName</span></b>
                        <span>&nbsp;add by</span>
                        <b><span>&nbsp;@x.LogBy</span></b>
                    </td>
                    <td>@x.CreateTime</td>
                </tr>
            }
            else if (x.Action == "UPDATE")
            {
                <tr>
                    <td>
                        <span>&nbsp;@(x.EntityType.Substring(0, x.EntityType.Length - 1))</span>
                        <b><span>&nbsp;@x.EntityName</span></b>
                        <span>'s&nbsp;Details update by</span>
                        <b><span>&nbsp;@x.LogBy</span></b>
                    </td>
                    <td>@x.CreateTime</td>
                </tr>
            }
            else if (x.Action == "DELETE")
            {
                <tr>
                    <td>
                        <span>&nbsp;@(x.EntityType.Substring(0, x.EntityType.Length - 1))</span>
                        <b><span>&nbsp;@x.EntityName</span></b>
                        <span>&nbsp;delete by</span>
                        <b><span>&nbsp;@x.LogBy</span></b>
                    </td>
                    <td>@x.CreateTime</td>
                </tr>
            }
        }
    </tbody>
</table>
@section Scripts {
    <script>
        var addButtonAppend = false;

        $(document).ready(function () {

            $('#example').DataTable({
                "order": [[1, "desc"]]
            });
            $('#dt-search-0').css({ 'width': '30rem' });
            $('#dt-search-0').css({ 'margin': '0px' });
            $('#dt-search-0').addClass('flex-row-reverse');
            document.getElementById('dt-search-0').placeholder = 'Search Action';
            $('.dt-search label').remove();
            $('.dt-search button').addClass('btn btn-dark');
            $('#dt-search-0').parent().addClass('d-flex flex-row-reverse');
            $('#dt-search-0').parent().parent().parent().addClass('d-flex flex-row-reverse');
            $('#dt-length-0').parent().parent().removeClass('me-auto');
            $('#dt-search-0').parent().parent().removeClass('ms-auto');

        });
    </script>
}