<h3>Actions</h3>
<table id="example" class="table table-striped table-bordered" style="width:100%">
    <thead>
        <tr class="bg-dark">
            <th class="text-white">Recent Actions</th>
        </tr>
    </thead>
    <tbody id="dataRows">
        
            <tr>
                <td>Hello</td>
            </tr>
            <tr>
                <td>Hello</td>
            </tr>
            <tr>
                <td>Hello</td>
            </tr>
            <tr>
                <td>Hello67696</td>
            </tr>
            <tr>
                <td>Hello wvt3tv</td>
            </tr>
            <tr>
                <td>Hellomtte</td>
            </tr>

    </tbody>
</table>
@section Scripts {
    <script>
        var addButtonAppend = false;

        $(document).ready(function () {

            new DataTable('#example');
            $('#dt-search-0').css({ 'width': '30rem' });
            $('#dt-search-0').css({ 'margin': '0px' });
            $('#dt-search-0').addClass('flex-row-reverse');
            document.getElementById('dt-search-0').placeholder = 'Search Action';
            $('.dt-search label').remove();
            $('.dt-search button').addClass('btn btn-dark');
            $('#dt-search-0').parent().addClass('d-flex flex-row-reverse');
            $('#dt-search-0').parent().parent().parent().addClass('d-flex flex-row-reverse');
            $('#dt-length-0').parent().parent().removeClass('me-auto');
            $('#dt-search-0').parent().parent().removeClass('ms-auto');

        });
    </script>
}