@{
    ViewData["Title"] = "Department";
}


<head>
    <style>
        .editbtn {
            height: 20px;
        }
    </style>
</head>

@* search-section *@ 
<div class="row justify-content-center my-2 pt-3 ">
    <div class="col-md-12 px-0">
        <form class="d-flex">
            <button type="button" id="addSkillButton" class="btn btn-dark me-2 px-4" data-toggle="modal" data-target="#departmentModal">
                Add
            </button>
            <input class="form-control flex-grow-1 me-2 px-4" type="search" placeholder="Search" aria-label="Search query">
            <button class="btn btn-outline-primary me-2 px-4" type="submit">
                Search
            </button>
        </form>
    </div>
</div>

@* grid *@
<div class="container my-4 pt-3 px-0">
    <div class="row justify-content-center text-center bg-dark p-2 border-bottom">
        <div class="col-6 col-md-3 py-2 border-end text-light">Id</div>
        <div class="col-6 col-md-3 py-2 border-end text-light">Name</div>
        <div class="col-6 col-md-3 py-2 border-end text-light">Status</div>
        <div class="col-6 col-md-3 py-2 text-light">Update</div>
    </div>
    <div class="row justify-content-center text-center bg-light p-2 border-bottom">
        <div class="col-6 col-md-3 py-2 border-end">1</div>
        <div class="col-6 col-md-3 py-2 border-end">Agriculture</div>
        <div class="col-6 col-md-3 py-2 border-end">Active</div>
        <div class="col-6 col-md-3 py-2"><img class="editbtn" src="~/assets/icons/edit.png" /></div>
    </div>
    <div class="row justify-content-center text-center bg-light p-2 border-bottom">
        <div class="col-6 col-md-3 py-2 border-end">2</div>
        <div class="col-6 col-md-3 py-2 border-end">Mobility</div>
        <div class="col-6 col-md-3 py-2 border-end">Active</div>
        <div class="col-6 col-md-3 py-2"><img class="editbtn" src="~/assets/icons/edit.png" /></div>
    </div>
    <div class="row justify-content-center text-center bg-light p-2 border-bottom">
        <div class="col-6 col-md-3 py-2 border-end">3</div>
        <div class="col-6 col-md-3 py-2 border-end">Integrated</div>
        <div class="col-6 col-md-3 py-2 border-end">Active</div>
        <div class="col-6 col-md-3 py-2"><img class="editbtn" src="~/assets/icons/edit.png" /></div>
    </div>
</div>


@* add-modal *@
<div class="modal fade" id="departmentModal" tabindex="-1" aria-labelledby="departmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="departmentModalLabel">Add Department</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="department">Department</label>
                        <input type="text" class="form-control" id="department" placeholder="Enter department">
                    </div>
                    <div class="form-group">
                        <label for="isActive">Status</label>
                        <select class="form-control" id="isActive">
                            <option value="Active">Active</option>
                            <option value="NotActive">Not Active</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



@* edit-modal *@
<div class="modal fade" id="editDepartmentModal" tabindex="-1" aria-labelledby="editDepartmentModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editDepartmentModalLabel">Edit Department</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="editDepartment">Department</label>
                        <input type="text" class="form-control" id="editDepartment" placeholder="Enter department">
                    </div>
                    <div class="form-group">
                        <label for="editIsActive">Status</label>
                        <select class="form-control" id="editIsActive">
                            <option value="Active">Active</option>
                            <option value="NotActive">Not Active</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="closedModal" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="saveChangesBtn">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section scripts {
    <script>
        $(document).ready(function () {
            $(".editbtn").click(function () {
                var department = $(this).closest(".row").find(".col-md-3:nth-child(2)").text().trim();
                var isActive = $(this).closest(".row").find(".col-md-3:nth-child(3)").text().trim();

                $("#editDepartment").val(department);
                $("#editIsActive").val(isActive);

                $("#editDepartmentModal").modal('show');
            });

            $("#saveChangesBtn,#closedModal").click(function () {
                var editedDepartment = $("#editDepartment").val();
                var editedIsActive = $("#editIsActive").val();
                $(".modal").modal('hide');
            });


        });
    </script>
}