@{
    ViewData["Title"] = "ProjectEmployeeMapping";
}

@* search section *@
<div class="row justify-content-center my-2 pt-3 ">
    <div class="col col-12 p-0">
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search query"> <!-- Enhanced ARIA label for clarity -->
            <button class="btn btn-outline-primary me-2" type="submit" aria-label="Submit search">
                Search
            </button>
            <button class="btn btn-danger" id="filterBtn" type="button" aria-label="Open filter options" data-toggle="modal" data-target="#filterModal">
                Filter
            </button>
        </form>
    </div>
</div>

@* grid *@
<div class="container my-4 pt-3 px-0">
    <div class="row justify-content-center text-center bg-dark p-2 border-bottom">
        <div class="col-2 col-md-1 py-2 border-end text-white">Sr. No</div> <!-- Made narrower -->
        <div class="col-10 col-md-4 py-2 border-end text-white">Project Name</div>
        <div class="col-6 col-md-2 py-2 border-end text-white">Employees</div>
        <div class="col-6 col-md-3 py-2 border-end text-white">Department</div>
        <div class="col-6 col-md-2 py-2 text-white">Status</div>
    </div>
    <div id="dataRows">
        <div class="row justify-content-center text-center bg-light p-2 border-bottom" data-toggle="modal" data-target="#projectModal" data-projectname="GIS Mapping" data-employees="8" data-department="Integrated" data-status="Active">
            <div class="col-2 col-md-1 py-2 border-end">1</div> <!-- Sr. No -->
            <div class="col-10 col-md-4 py-2 border-end">GIS Mapping</div>
            <div class="col-6 col-md-2 py-2 border-end">8</div>
            <div class="col-6 col-md-3 py-2 border-end">Integrated</div>
            <div class="col-6 col-md-2 py-2">Active</div>
        </div>
        <div class="row justify-content-center text-center bg-light p-2 border-bottom" data-toggle="modal" data-target="#projectModal" data-projectname="Asset Management" data-employees="11" data-department="Mobility" data-status="Active">
            <div class="col-2 col-md-1 py-2 border-end">2</div> <!-- Sr. No -->
            <div class="col-10 col-md-4 py-2 border-end">Asset Management</div>
            <div class="col-6 col-md-2 py-2 border-end">11</div>
            <div class="col-6 col-md-3 py-2 border-end">Mobility</div>
            <div class="col-6 col-md-2 py-2">Active</div>
        </div>
    </div>
</div>

@* main-modal *@
<div class="modal fade bd-example-modal-xl" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mainModalLabel">Details</h5>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="projectName">Project Name:</label>
                                <input type="text" class="form-control" id="projectName" readonly>
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="startDate">Start Date:</label>
                                <input type="date" class="form-control" id="startDate" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="pid">Project Id:</label>
                                <input type="text" class="form-control" id="pid" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="endDate">End Date:</label>
                                <input type="date" class="form-control" id="endDate" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="department">Department:</label>
                                <input type="text" class="form-control" id="department" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="status">Project Status:</label>
                                <input type="text" class="form-control" id="status" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="skills">Project Skills:</label>
                                <input type="text" class="form-control" id="skills" readonly>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="employees">Number of Employees:</label>
                                <input type="text" class="form-control" id="employees" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <h5>Employees Data</h5>
                            <div class="table-responsive" style="height:200px ; overflow-y:auto">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th style="position: sticky;top: 0;background-color: #fff;z-index: 1;">Sr. No</th>
                                            <th style="position: sticky;top: 0;background-color: #fff;z-index: 1;">Name</th>
                                            <th style="position: sticky;top: 0;background-color: #fff;z-index: 1;">Skills</th>
                                            <th style="position: sticky;top: 0;background-color: #fff;z-index: 1;">Role</th>
                                            <th style="position: sticky;top: 0;background-color: #fff;z-index: 1;">Start Date</th>
                                            <th style="position: sticky;top: 0;background-color: #fff;z-index: 1;">End Date</th>
                                            <!-- Add more columns as needed -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>John Doe</td>
                                            <td>C#,React,Javascript</td>
                                            <td>Developer</td>
                                            <td>19-03-21</td>
                                            <td>31-05-25</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>John Doe</td>
                                            <td>C#,React,Javascript</td>
                                            <td>Developer</td>
                                            <td>19-03-21</td>
                                            <td>31-05-25</td>
                                        </tr>
                                        <tr>
                                            <td>3</td>
                                            <td>John Doe</td>
                                            <td>C#,React,Javascript</td>
                                            <td>Developer</td>
                                            <td>19-03-21</td>
                                            <td>31-05-25</td>
                                        </tr>
                                        <tr>
                                            <td>4</td>
                                            <td>John Doe</td>
                                            <td>C#,React,Javascript</td>
                                            <td>Developer</td>
                                            <td>19-03-21</td>
                                            <td>31-05-25</td>
                                        </tr>
                                        <tr>
                                            <td>5</td>
                                            <td>John Doe</td>
                                            <td>C#,React,Javascript</td>
                                            <td>Developer</td>
                                            <td>19-03-21</td>
                                            <td>31-05-25</td>
                                        </tr>
                                        <tr>
                                            <td>6</td>
                                            <td>John Doe</td>
                                            <td>C#,React,Javascript</td>
                                            <td>Developer</td>
                                            <td>19-03-21</td>
                                            <td>31-05-25</td>
                                        </tr>
                                        <tr>
                                            <td>7</td>
                                            <td>John Doe</td>
                                            <td>C#,React,Javascript</td>
                                            <td>Developer</td>
                                            <td>19-03-21</td>
                                            <td>31-05-25</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="mainModalClose">Close</button>
            </div>
        </div>
    </div>
</div>

@* filter-modal *@
<div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="filterModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="filterModalLabel">Filter Options</h5>
                <h2 aria-hidden="true" class="applyBtn" style="cursor:pointer">&times;</h2>
            </div>
            <div class="modal-body">
                <!-- First row: Dropdown for department -->
                <div class="form-group">
                    <label for="departmentSelect">Department:</label>
                    <select class="form-control" id="departmentSelect">
                        <option value="">Select Department</option>
                        <option value="dept1">Mobility</option>
                        <option value="dept2">Integrated</option>
                        <option value="dept3">Agriculture</option>
                        <option value="dept4">Research and Development</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="statusSelect">Status:</label>
                    <select class="form-control" id="statusSelect">
                        <option value="">Select Status</option>
                        <option value="active">Active</option>
                        <option value="inactive">Inactive</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="startDate">Start Date:</label>
                    <input type="date" class="form-control" id="startDate">
                </div>
                <div class="form-group">
                    <label for="endDate">End Date:</label>
                    <input type="date" class="form-control" id="endDate">
                </div>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-danger applyBtn" data-dismiss="modal">Apply</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        $(document).ready(function () {
            $('#dataRows .row').click(function () {
                $('#mainModal').modal('show');

                var projectName = $(this).data('projectname');
                var employees = $(this).data('employees');
                var department = $(this).data('department');
                var status = $(this).data('status');

                $('#projectName').val(projectName);
                $('#employees').val(employees);
                $('#department').val(department);
                $('#status').val(status);

            });


            $("#mainModalClose").click(() => {
                $('#mainModal').modal('hide');

            })
            $("#filterBtn").click(() => {
                $('#filterModal').modal('show');

            })
            $(".applyBtn").click(() => {
                $('#filterModal').modal('hide');

            })
        });
    </script>

}


