@model List<ProjectDetails>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.css">
<script src="https://cdn.jsdelivr.net/gh/bbbootstrap/libraries@main/choices.min.js"></script>
<style>
    /*  .k-header {
            background-color: black !important;
        } */

    /* Ensure the dropdown is displayed in front */
    .choices {
        z-index: 1050;
        position: relative;
    }

    .choices__list--dropdown {
        z-index: 1060;
        position: absolute;
    }

    .k-grid td {
        overflow: visible;
    }
    /*-----------------*/

    .cursor {
        cursor: pointer;
    }

    /* .logo-middle {
            text-align: center !important;
        } */

</style>



<h3>Project-Employee mapping section</h3>

@* grid to display data *@
<div id="displayMainDataGrid"></div>


<!-- Extra large main modal -->
<div class="modal fade bd-example-modal-xl" id="mainModal" tabindex="-1" role="dialog" aria-labelledby="mainModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="mainModalLabel">@* Details *@</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <span id="xlModalErrorMsg" style="color:red"></span>
                    <div class="xlbuttons">
                        <button class="btn btn-primary detailsButton">Details</button>
                        <button class="btn btn-danger employeesButton">Employees</button>
                    </div>
                    <div id="projectDetails">
                        <div class="row">
                            <!-- 1st row: Project Name and Start Date -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="projectName">Project Name:</label>
                                    <input type="text" class="form-control" id="projectName" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="startDate1">Start Date:</label>
                                    <input type="date" class="form-control" id="startDate1" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <!-- 2nd row: Department and End Date -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="department">Department:</label>
                                    <input type="text" class="form-control" id="department" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="endDate1">End Date:</label>
                                    <input type="date" class="form-control" id="endDate1" readonly>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <!-- 3rd row: Project Skills and Number of Employees -->
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="skills">Project Skills:</label>
                                    <input type="text" class="form-control" id="skills" readonly>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="employees">Number of Employees:</label>
                                    <input type="text" class="form-control" id="employees" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row xlEmployeesData">
                        <!-- 4th row: Employees data -->
                        <h5>Employees Data</h5>
                        <!-- Grid to show employees data -->
                        <div id="displayAlloctedEmployeesGrid"></div>

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" id="mainModalApply">Apply</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" id="mainModalClose">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Confirm Delete Modal -->
<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                <button type="button" class="btn-close close-confirmation" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p id="employeeDetails"></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary close-confirmation" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeletion">Confirm</button>
            </div>
        </div>
    </div>
</div>



<!-- Assign Employee Modal -->
<div class="modal fade" id="mapModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="assignEmployeeHeader"> </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row justify-content-center my-4">
                    <div class="col-md-12">
                        <span id="validationMsg" style="color:red"></span>
                        <h5>Choose Employees</h5>
                        <div id="displayNotAllocatedEmployeesGrid"></div>

                    </div>
                </div>
            </div>
            <div class="modal-footer d-flex justify-content-between">
                <div><span style="color:red">Note: You can save changes only after assigning atleast one employee</span></div>
                <div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" id="savechange" class="btn btn-primary" disabled>Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script>
        var projectsData = @Html.Raw(Json.Serialize(Model));
        console.warn("1"+projectsData);
    </script>
    <script src="~/custom-scripts/home/mapping.js"></script>
}