@section Style {
    <style>
        body {
            color: black;
        }

        #skills thead tr th {
            background-color: black;
            color: white;
            text-align: center;
            border-right: 1px solid grey;
            border-left: 1px solid grey;
        }

        #skills tbody tr td {
/*             border-left: 1px solid grey;
            border-right: 1px solid grey; */
            color: black;
            text-align: center;
        }

        #dataRows td:nth-child(2) {
            text-align: left;
        }

        .icon {
            text-align: center;
        }

        table.dataTable td.dt-type-numeric {
            text-align: center;
        }

        #addSkillButton {
            width: auto;
        }

        .page-link {
            color: black;
        }

        .page-item.active .page-link {
            background-color: black;
            border: 1px solid black;
        }


        label[for="dt-length-0"] {
            margin-right: 4%;
        }

        .assign .dt-column-order {
            display: none;
        }

        #dt-search-0 {
            width: 30rem;
            margin-left: 1rem;
        }

        div.dt-container div.dt-search label {
            padding: 0.5rem;
            text-align: center;
            margin-left: 1rem;
        }

        div.dt-container div.dt-length label {
            margin-top: 0.5rem;
        }

        div.dt-container div.dt-length select {
            margin-top: 0.3rem;
        }
    </style>
}


<h3>Skills</h3>
<table id="skills" class="table table-striped" style="width:100%">
    <thead class="">
        <tr>
            <th>Skill Id</th>
            <th>Skill's Name</th>
            <th class="assign">Update</th>
            <th class="assign">Delete</th>
        </tr>
    </thead>
    <tbody id="dataRows">
    </tbody>
</table>

<!-- Modal for adding skills -->
<div class="modal fade" id="addSkillModal" tabindex="-1" role="dialog" aria-labelledby="addSkillsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSkillsModalLabel">Add Skill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addSkillForm">
                    <div class="form-group">
                        <label for="skillName">Skill Name</label>
                        <input type="text" class="form-control" id="skillName" placeholder="Enter skill name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success save-btn" id="saveAddSkillButton">Save Skill</button>
            </div>
        </div>
    </div>
</div>

<!--modal for updating skills-->
<div class="modal fade" id="editSkillModal" tabindex="-1" role="dialog" aria-labelledby="editSkillsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSkillsModalLabel">Update Skill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="editSkillForm">
                    <div class="form-group">
                        <label for="editSkillName">Edit Skill Name</label>
                        <input type="text" class="form-control" id="editSkillName" style="color:#666666;" placeholder="Edit skill name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success save-btn" id="saveEditSkillButton" disabled>Save Skill</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for deleting skills -->
<div class="modal fade" id="deleteSkillModal" tabindex="-1" role="dialog" aria-labelledby="deleteSkillModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteSkillModalLabel">Delete Skill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="deleteSkillName">Are you sure you want to delete <b><span id="deleteSkillName"></span>?</b></label>
                        <input type="text" class="form-control" id="confirmInput" placeholder="Type CONFIRM">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDeleteButton" disabled>Delete Skill</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.js"></script>
    <script src="https://cdn.datatables.net/2.0.3/js/dataTables.bootstrap5.js"></script>
    <script>
        $(document).ready(function () {
            var addButtonAppend = false;
            
            //DISPLAY SKILL
            getskillData();
            function getskillData() {
                loading();
                $.ajax({
                    url: '/Skills/GetSkills',
                    type: 'POST',
                    success: function (data) {
                        console.log(data);
                        displayskills(data.data);

                    }
                });
                loading();
            }
            function displayskills(Data) {
                var table = $('#skills').DataTable();
                table.clear().draw();
                $.each(Data, function (index, data) {
                    table.row.add([
                        data.skillid,
                        data.skillname,
                        '<i class="fa fa-edit fa-lg edit-icon" style="cursor:pointer;" aria-hidden="true"></i>',
                        '<i class="fa fa-trash fa-lg delete-icon" style="cursor:pointer;" aria-hidden="true"></i>'
                    ]).draw();
                });
                if (!addButtonAppend) {
                    var addButton = $('<button>').text('Add').attr('id', 'addSkillButton');
                    $('.dt-search').prepend(addButton);
                    changesToDataTable();
                    addButton.click(function () {
                        $("#addSkillModal").modal('show');
                    })
                    addButtonAppend = true;
                }
            }
            function changesToDataTable() {
                $('.dt-search button').addClass('btn btn-dark');
                $('.dt-search').addClass('d-flex');


                document.getElementById('dt-search-0').placeholder = 'Search Skills...';
                $('#dt-length-0').parent().parent().parent().addClass('d-flex flex-row-reverse');
                $('#dt-length-0').parent().addClass('d-flex flex-row-reverse');

                $('#dt-search-0').parent().parent().removeClass('ms-auto');
                $('#dt-search-0').parent().parent().addClass('searchSkill');


                $('#dt-length-0').parent().parent().removeClass('me-auto');
                $('#dt-length-0').parent().parent().addClass('ms-auto');
                $("label[for='dt-search-0']").remove();
                $('.close-btn').on('click', function () {
                    $('#addSkillModal').modal('hide');
                    $('#deleteSkillModal').modal('hide');
                    $('#editSkillModal').modal('hide');
                });
            }

            //ADD SKILL
            $('#saveAddSkillButton').on('click', function () {
                var skillName = $('#skillName').val();
                if (skillName.trim() === '') {
                    alert('Skill name cannot be empty');
                    return;
                }
                checkAndSaveSkill(skillName);
            });
            function checkAndSaveSkill(skillName) {
                var lowercaseSkillName = skillName.toLowerCase();
                // Check if the skill already exists in the displayed skills
                var existingSkill = $('#dataRows td:nth-child(2)').filter(function () {
                    return $(this).text().toLowerCase() === lowercaseSkillName;
                }).length > 0;

                if (existingSkill) {
                    $('#skillName').val('');
                    $('#addSkillModal').modal('hide');
                    showSnackbar('false', skillName + ' already exists')
                    
                    return;
                }
                saveSkill(skillName);
            }
            function saveSkill(skillName) {
                var data = {
                    skillname: skillName,
                };
                loading();
                $.ajax({
                    type: 'POST',
                    url: '/Skills/AddSkill',
                    data: data,
                    success: function (response) {
                        loading();
                        if (response.success) {
                            $('#addSkillModal').modal('hide');
                            getskillData();
                            showSnackbar('true', skillName + ' added successfully');
                            $('#skillName').val('');

                        } else {
                            $('#addSkillModal').modal('hide');
                            showSnackbar('false', response.message);

                        }
                    },
                    error: function (xhr, status, error) {
                        loading();
                        console.error(error);
                        showSnackbar('false', error);

                    }
                });
            }

            //EDIT SKILLS
            $('#skills').on('click', '.edit-icon', function () {
                var skillId = $(this).closest('tr').find('td:nth-child(1)').text();
                var skillName = $(this).closest('tr').find('td:nth-child(2)').text();
                $('#editSkillName').val(skillName);
                $('#editSkillName').val(skillName).data('originalSkillName', skillName);
                $('#editSkillModal').data('skillId', skillId);
                $('#editSkillModal').modal('show');
                $('#editSkillName').on('input', function () {
                    var editedSkillName = $(this).val();
                    var originalSkillName = $(this).data('originalSkillName');
                    console.log(originalSkillName);
                    console.log(editedSkillName);
                    if (editedSkillName !== originalSkillName) {
                        $('#saveEditSkillButton').prop('disabled', false);
                    } else {
                        $('#saveEditSkillButton').prop('disabled', true);
                    }
                });
            });

            $('#saveEditSkillButton').on('click', function () {
                var updatedSkillName = $('#editSkillName').val();
                var skillId = $('#editSkillModal').data('skillId');
                loading();
                $.ajax({
                    type: 'POST',
                    url: '/Skills/UpdateSkill',
                    data: { skillId: skillId, updatedSkillName: updatedSkillName },
                    success: function (response) {
                        loading();
                        if (response.success) {
                            $('#editSkillModal').modal('hide');
                            getskillData();
                            showSnackbar('true', updatedSkillName + ' updated successfully');

                        } else {
                            showSnackbar('false', response.error);

                        }
                    },
                    error: function (xhr, status, error) {
                        loading();
                        console.error(error);
                        showSnackbar('false', 'An error occurred while updating the skill. Please try again later.');

                    }
                });
            });

            //DELETE SKILL
            $('#skills').on('click', '.delete-icon', function () {
                var skillId = $(this).closest('tr').find('td:nth-child(1)').text();
                var skillName = $(this).closest('tr').find('td:nth-child(2)').text();
                $('#deleteSkillName').val(skillName);
                $('#deleteSkillName').text(skillName);
                $('#deleteSkillModal').data('skillId', skillId);
                $('#deleteSkillModal').data('skillName', skillName);
                $('#deleteSkillModal').modal('show');
                $('#deleteSkillModal').on('hidden.bs.modal', function () {
                    $('#confirmInput').val('');
                });

            });
            $('#confirmInput').on('input', function () {
                var confirmInputValue = $(this).val().trim();
                var confirmButton = $('#confirmDeleteButton');
                if (confirmInputValue === 'CONFIRM') {
                    confirmButton.prop('disabled', false);
                } else {
                    confirmButton.prop('disabled', true);
                }
            });
            $('#confirmDeleteButton').on('click', function () {
                var skillIdToDelete = $('#deleteSkillModal').data('skillId');
                var skillNameToDelete = $('#deleteSkillModal').data('skillName');
                var confirmInputValue = $('#confirmInput').val().trim();
                // Check if the input value matches the confirmation text
                if (confirmInputValue !== 'CONFIRM') {
                    return;
                }
                loading();
                $.ajax({
                    type: 'POST',
                    url: '/Skills/DeleteSkill',
                    data: { skillId: skillIdToDelete },
                    success: function (response) {
                        loading();
                        if (response.success) {
                            getskillData();
                            $('#deleteSkillModal').modal('hide');
                            showSnackbar('true', skillNameToDelete + ' deleted successfully');

                        } else {
                            showSnackbar('false', response.message);

                        }
                    },
                    error: function (xhr, status, error) {
                        loading();
                        console.error(error);
                        showSnackbar('false', 'An error occurred while deleting the skill. Please try again later.');

                    }
                });
            });
            $('.assign').click(function (event) {
                event.preventDefault();
                event.stopPropagation();
                return false;
            });
        });
    </script>
}