@model IEnumerable<Amnex_Project_Resource_Mapping_System.Models.Skill>
@{
    ViewData["Title"] = "Skills Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<link rel="stylesheet" href="~/css/skills.css" />
<link rel="stylesheet" href="~/css/kendo.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />


<nav style="margin:2rem;">
    <a href="@Url.Action("Dashboard", "Home")" id="home-link">
        <i class="fa-solid fa-house"></i>
    </a>
    <a href="@Url.Action("Skills", "Home")" id="skill-link">>Skills</a>

</nav>

<div id="skills-section">
    <div id="grid"></div>
</div>
<div id="details" style="display:none;">
    <div class="details_button" style="margin:1rem;">
        <button class="btn  btn-skill-details active">Skills Details</button>
        <button class="btn  btn-employee-details">Employee Details</button>
        <button class="btn  btn-project-details">Project Details</button>
    </div>

    <div id="skillsgrid"></div>
    <div id="empgrid" style="display:none;"></div>
    <div id="projgrid" style="display:none;"></div>

</div>

<!-- Modal for adding skills -->
<div class="modal fade" id="addSkillModal" tabindex="-1" role="dialog" aria-labelledby="addSkillsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addSkillsModalLabel">Add Skill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="addSkillForm">
                    <div class="form-group">
                        <label for="skillName">Skill Name</label>
                        <input type="text" class="form-control" id="skillName" placeholder="Enter skill name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success save-btn" id="saveAddSkillButton" disabled>Save Skill</button>
            </div>
        </div>
    </div>
</div>

<!--modal for updating skills-->
<div class="modal fade" id="editSkillModal" tabindex="-1" role="dialog" aria-labelledby="editSkillsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editSkillsModalLabel">Update Skill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form id="editSkillForm">
                    <div class="form-group">
                        <label for="editSkillName">Edit Skill Name</label>
                        <input type="text" class="form-control" id="editSkillName" style="color:#666666;" placeholder="Edit skill name">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success save-btn" id="saveEditSkillButton" disabled>Save Skill</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal for deleting skills -->
<div class="modal fade" id="deleteSkillModal" tabindex="-1" role="dialog" aria-labelledby="deleteSkillModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteSkillModalLabel">Delete Skill</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="deleteSkillName">Are you sure you want to delete <b><span id="deleteSkillName"></span>?</b></label>
                        <input type="text" class="form-control" id="confirmInput" placeholder="Type CONFIRM">
                    </div>

                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" id="confirmDeleteButton" disabled>Delete Skill</button>
            </div>
        </div>
    </div>
</div>



<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://kendo.cdn.telerik.com/2022.1.301/js/kendo.all.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>
@section scripts {
    <script>
        var Skills = @Html.Raw(Json.Serialize(Model));
    </script>
    <script src="~/custom-scripts/Home/Skills.js"></script>
    <script>
        $(document).ready(function () {
            $(window).on('popstate', function (event) {
                window.location.href = 'https://localhost:7219/Home/Skills';
            });
            history.replaceState(null, document.title, location.href);
            function pushStateOnInteraction() {
                $('.details_button button').on('click', function () {
                    history.pushState(null, document.title, location.href);
                });
                var $infoIcon = $('.k-i-information');
                if ($infoIcon.length) {
                    $infoIcon.on('click', function () {
                        history.pushState(null, document.title, location.href);
                    });
                }
            }
            pushStateOnInteraction();
        });
    </script>

}