@model List<Amnex_Project_Resource_Mapping_System.Models.Department>
@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/css/kendo.css" rel="stylesheet" />
<div class="nav-info mt-3 mb-4">
    <a class="nav-item" asp-controller="Departments" asp-action="Departments">
        Departments
    </a>
</div>
<div class="col-md-12">
    <div id="grid"></div>
</div>

@* add-modal *@
<div class="modal fade" id="departmentModal" tabindex="-1" aria-labelledby="departmentModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="departmentModalLabel">Add Department</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="department" id="departmentlabel">Department</label>
                        <label for="deleteDepartment" id="deletedeptlabel" class="k-hidden">Are you sure you want to delete <b><span id="departmentNamePlaceholder"></span>?</b></label>

                        <input type="text" class="form-control" id="department" placeholder="Enter department">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="addsaveChangesBtn">Save changes</button>
                <button type="button" class="btn btn-secondary" id="EditChangesBtn" disabled>Save changes</button>
                <button type="button" class="btn btn-secondary" id="deleteBtn" disabled>DELETE</button>

            </div>
        </div>
    </div>
</div>

@*delete modal*@
<div class="modal fade" id="deleteDepartmentModal" tabindex="-1" aria-labelledby="deleteDepartmentModalLabel" aria-hidden="true">
    <div class="modal-dialog  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteDepartmentModalLabel">Delete Department</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="deleteDepartment">Are you sure you want to delete <b><span id="departmentNamePlaceholder"></span>?</b></label>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control" id="deleteDepartmentconfirm" placeholder="Type CONFIRM">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" id="deleteBtn" disabled>DELETE</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
        var DepartmentData = @Html.Raw(Json.Serialize(Model));
        console.log("DEPTDATA" + DepartmentData);
        console.log("DEPTDATA" + DepartmentData[1]);
        console.log("DEPTDATA" + DepartmentData[1].departmentName);

    </script>
    <script src="~/js/department.js"></script>
}

