@model Department
<link href="~/css/GetDetails.css" rel="stylesheet" />
<div class="nav-info  mt-3 mb-4">
    <div class="nav-item">
        <a asp-controller="Departments" asp-action="Departments">Departments</a> >
        <a>Details</a>
    </div>
</div>
<div class="mb-5 mt-3">
    <button id="detailsbtn" class="btn btn-primary active">Details</button>
    <button id="deptprojects" class="btn btn-primary">Projects</button>
    <button id="deptemployees" class="btn btn-primary">Employees</button>
</div>
<div id="detailsdept">

    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="DepartmentName">Department Name </label>
                <input type="text" class="form-control" asp-for="DepartmentName" id="deptname" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group" style="display: none;">
                <label asp-for="DepartmentId">Department ID</label>
                <input type="text" class="form-control" asp-for="DepartmentId" id="deptid" disabled>
            </div>
        </div>
    </div>
    <p><h5><b>Projects</b></h5></p>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TotalProjects">Total Projects</label>
                <input type="text" class="form-control" asp-for="TotalProjects" id="deptid" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="CompletedProjects">Completed projects</label>
                <input type="text" class="form-control" asp-for="CompletedProjects" id="deptname" disabled>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="RunningProjects">Running Projects</label>
                <input type="text" class="form-control" asp-for="RunningProjects" id="deptid" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="PendingProjects">Pending Projects</label>
                <input type="text" class="form-control" asp-for="PendingProjects" id="deptname" disabled>
            </div>
        </div>
    </div>
    <p><h5><b>Employees</b></h5></p>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="TotalEmployees">Total Employees</label>
                <input type="text" class="form-control" asp-for="TotalEmployees" id="deptid" disabled>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="AllocatedEmployees">Allocated Employees</label>
                <input type="text" class="form-control" asp-for="AllocatedEmployees" id="deptname" disabled>
            </div>
        </div>
    </div>
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="form-group">
                <label asp-for="UnallocatedEmployees">Unallocated Employees</label>
                <input type="text" class="form-control" asp-for="UnallocatedEmployees" id="deptid" disabled>
            </div>
        </div>
    </div>

</div>

<div>
    <button class="btn btn-success" id="editbtn"> Edit </button>
    <button class="btn btn-danger" id="deletebtn"> Delete </button>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>

<script src="~/js/GetDetails.js"></script>